h1{
    color: #5a5a5a;
    font-family: sitka;
    margin-left: 5%;
}
h2{
    color: #5a5a5a;
    font-family: sitka;
    margin-left: 8%;
    border-bottom: 2px solid currentColor;
    width: 250px;
}
h3{
    color: #5a5a5a;
    font-family: sitka;
}
h4{
    color: #5a5a5a;
    font-family: sitka;
    margin-left: 5%;
    margin-bottom: 0%;
    border-bottom: 2px solid currentColor;
    width: 150px;
}
.possibleOptionsText{
    width: 250px;
    color: #5a5a5a;
    font-family: sitka;
    margin-left: 13%;
    margin-top: 10px;
    margin-left: 8%;
    
}
.sliderButtons{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
}

.shownProduct{
    display: flex;
    width: 90%;
   margin-left: auto;
   margin-right: auto;
}
@media screen and (max-width: 768px) {
    .slider-cell{
      margin: 6px;
    }
}